/* Style Start */

/*Main Search Bar on Top*/
.headerBar {
    display: flex;
    top: 0px;
    padding-top: 15px;
    margin-left: 12px;
    position: fixed;
    width: 98%;
    height: 60px;
    background-color: white;
}
/*End of Main Search Bar on Top*/

/* Google Logo is just a img on the html, no class */

/* Main Google Searchbox */

/* Acessibility Itens inside searchbar */

.acessiMenu input {
    border-radius: 30px;  
    border-width: 1px;
    border-style: solid;
    border-color: #DDD;
    padding-left: 20px;
    height: 48px;
    width: 34vw;
    font-size: 16px;
    font-family: arial, sans-serif;
    display: block;
    box-sizing: border-box;
}

/* Magnifying Glass */

.acessiMenuItm{
    position: relative; 
    top: -35px; 
    right: 17px;
    float: right;
    height: 24px;
}

.acessiMenuItm:hover {
    cursor: pointer;
}

/* End of Magnifying Glass */

/* Microphone */

.acessiMenuMic{
    position: relative; 
    top: -35px; 
    right: 17px;
    float: right;
    height: 24px;
}

.acessiMenuMic:hover {
    cursor: pointer;
}

.acessiMenuMic:hover ~ .tooltipMic {
    visibility: visible;
}

/* End of Microphone */

/* Keyboard */

.acessiMenuTec{
    position: relative; 
    top: -35px; 
    right: 17px;
    float: right;
    height: 24px;
}

.acessiMenuTec:hover {
    cursor: pointer;
}

.acessiMenuTec:hover ~ .tooltipTec {
    visibility: visible;
}

/* End of Keyboard */

/* Tooltips that display when hovering itens */

.tooltipTec {
    background: rgb(45, 45, 45); 
    border: 1px solid rgb(255, 255, 255); 
    color: rgb(255, 255, 255); 
    display: block; 
    font-size: 11px; 
    font-weight: bold; 
    height: 29px;
    visibility: hidden;
    position: absolute;
    left: 30.5vw;
}

.tooltipMic {
    background: rgb(45, 45, 45); 
    border: 1px solid rgb(255, 255, 255); 
    color: rgb(255, 255, 255); 
    display: block; 
    font-size: 11px; 
    font-weight: bold; 
    height: 29px;
    visibility: hidden;
    position: absolute;
    left: 35.2vw;
}

/* End of Tooltips */

/* End of the Acessibility elements inside the searcbar */

.mainSearchBox:hover{
    box-shadow: 0 0 0 2pt rgba(100, 100, 100, 0.1);
    outline: none;
}

.mainSearchBox:focus{
    box-shadow: 0 0 0 2pt rgba(100, 100, 100, 0.1);
    outline: none;
}
/*End of Main Google Searchbox*/


/*Right-Side Header Buttons*/
.gglApps {
    margin-right: 10px;
    background-image: url(https://i.imgur.com/OZxFvxD.png);
    height: 40px; 
    width: 40px;
    cursor: pointer;
    background-size: contain;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: 95px;
}
.gglApps:hover {
    background-image: url(https://i.imgur.com/HC3fSS5.png);
    cursor: pointer;
}

.loginBtn {
    background: #4285f4;
    border: none;
    font-size: 13px;
    padding: 0 10px;
    border: #4285f4 solid;
    border-radius: 2px;
    font-family: Arial, sans-serif;
    color: #FFF;
    line-height: 24px;
    font-weight: bold;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 0px;
}

/*End of Right-Side Header Buttons*/


/*Search Type Bar*/
.searchTypeBar {
    font-family: arial, sans-serif;
    font-size: 13px;
    margin-top: 82px;
    position: absolute;
    display: grid;
    grid-template-columns: 80px 105px 75px 80px 95px 60px 100px 80px;
    padding-left: 150px;
    margin-left: -9px;
    border-bottom: solid 1px #EEE;
    width: 92%;
    color: #5f6368;
    height: 30px;
    z-index: -1900;
}

.icoImgs {
    vertical-align: bottom;
    height: 16px;
}

.searchTypeBarText {
    text-decoration: none;
    color: inherit;
}

.searchTypeBarText:hover {
    color: #1A73E8;
}

/*End of Search Type Bar*/


/* Main results body */

.resultBox {
    margin-top: 50px;
}

.btnDown {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;  
  border-top: 5px solid #000;
  padding-bottom: 5px;
  margin-left: 15px;
}

.resultheader img {
    width: 13px;
    height: 14px;
    margin: 0 0 -4px 8px;
    cursor: pointer;
}

.resultheader a {
    color: #1a0dab;
    text-decoration: none;
}

.resultTitle {
    margin-top: 8px;
    font-size: 20px;
    
}

.resultTitle a {
    text-decoration: none;
    color: #1a0dab;
}

.resultDescript {
    margin-top: 5px;
    color: #70757a;
    font-size: 14px;
    font-family: Arial, sans-serif;
    width: 600px;
    line-height: 1.58;
}

.resultDescript em {
    font-weight: bold;
    font-style: normal;
}

/* Video Results */

.videoGrid {
    display: grid;
    grid-template-columns: 215px 215px;
    grid-template-rows: auto;
    margin: 0 0 0 -10px;
}

.videoColumn {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: -20px;
}

.videoThumb:hover {
    cursor: pointer;
}

.videoThumb:hover ~.videoTitle {
    text-decoration: underline;
}

.videoTitle {
    margin: 15px 15px 50px 10px;
    font-size: 16px;
    width: 170px;
    line-height: 1.37;
}
.videoTitle a {
    text-decoration: none;
    color: #1a0dab;
}
.videoTitle:hover {
    cursor: pointer;
    text-decoration: underline;
}

.chanelName {
    color: #808080;
    font-size: 14px;
    margin-left: 10px;
}

.videoDate {
    color: #808080;
    font-size: 14px;
    margin: 10px 0 0 10px;
}

/* End of Video Results */

/* Related footer */

.relatedFoot {
    margin-top: 50px;
    font-size: 20px;
}

.relatedFootResults {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: repeat(4, 25px);
    font-size: 14px;
    margin-top: 30px;
}

.relatedFootResults a {
    text-decoration: none;
    color: #1a0dab;
}

.relatedFootResults span {
    font-weight: bold;
}
/* End of Main results body */

/* Page Selector */

.pageSelector {
    margin: 28px 0 -20px 150px;
}

.pageSelector a {
    text-decoration: none;
    color: #4285f4;
    font-size: 14px;
    margin-right: 7px;
}

.pageSelector a:hover {
    text-decoration: underline;
}

/* Location Footer */
.footer {
    width: 90vw;
    background-color: #f2f2f2;;
    border-top: 1px solid #e4e4e4;
    height: 29px;
    padding-left: 163px;
    padding-top: 11px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: rgba(0,0,0,.54);
}

.footer a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

.footerCountry {
    display: grid;
    grid-template-columns: 3% 87%;
    grid-template-rows: 25px;
}

.footerCountry a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

.footerCity {
    display: flex;    
}

.footerBall {
    height: 0px;
    width: 0px;
    border: 5px solid rgba(0,0,0,.34);
    border-radius: 50%;
    margin: 4px 0 0 15px;
}

/* Footer end */

/* Style end */